* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    max-height: 100vh;
    background: #5BBFBA;
    font-size: 15px;
    font-family: HelveticaNeue;
}

.svg-buble-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.svg-buble-right {
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: -1;
}
.container {
    width: 84%;
    height: 100vh;
    max-height: 100vh;
    margin: 0 auto;
}

.title {    
    padding-bottom: 2.9985vh;
    padding-top: 7.4962vh;
}
.title-item {
    font-size: 6.667vw;
    line-height: 1.4;
    font-weight: 900;
}
.close {
    position: relative;
}
.close-item1 {
    position: absolute;
    width: 2.933vw;
    height: 2px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
    left: 97.5%;
    top: -4px;
}
.close-item2 {
    position: absolute;
    width: 2.933vw;
    height: 2px;
    background-color: #FFFFFF;
    transform: rotate(-45deg);
    left: 97.5%;
    top: -4px;
}
/* list */

.list-wrap {
    margin-bottom: 4.49775vh;
}
.list {
    /* padding-top: 0px; */
    list-style: none;
}
.list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    padding-bottom: 2.24887vh; 
}
.list-span {
    /* width: 80%; */
    font-size: 4vw;
}

.offer-title {
    font-size: 4vw;
    font-weight: bold;
    padding-bottom: 1.4992vh;
}
.offer-price {
    font-size:  2.933vw;
    line-height: 1.4;
}
/* offer */
.offer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2.9985vh;
    margin-left: -10px;
    margin-right: -10px;
}
.offer-item {
    width: 33%;
    background: #8bd2ce;
    border-radius: 4px;
    min-height: 19.49vh;
    margin: 0 1.3%;
    border: 4px solid transparent;
    box-sizing: border-box;
    padding-left: 1.6%;
    padding-top: 2.3988vh;
    position: relative;
}
.offer-item:last-child {
    height: 23.5382vh;
    position: relative;
    padding-top: 6.5967vh;
}

.offer-item-top:hover {
    border: 4px solid #FFFFFF;
    border-bottom: none;
}
.offer-item-top {
    width: 108%;
    background: #FBDB36;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 3.74812vh;
    position: absolute;
    left: -4px;
    top: -4px;
}
.top-text {
    text-align: center;
    font-size: 2.933vw;
    font-weight: bold;
    font-style: normal;
    padding-top: 0.5vh;     /* last string to DOOOOO */
}

/* Continue Button */
.button {
    display: block;
    font-size: 5.867vw;
    width: 100%;
    height: 8.9955vh;
    font-weight: bold;
    background-color: #FFFFFF;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 3.29835vh;
    border: none;
    box-shadow: 1.49925vh 10px 1.49925vh 10px #4ca09b;
    color: black !important;
}

/* footer */
.footer-item,
.footer-restore{
    text-align: center;
}
.footer-restore {
    padding-bottom: 1.49925vh;
}
.secured {
    font-size: 2.933vw;
    display: inline-block;
    margin-bottom: 3.7481vh;
}
.svg {
    display: inline-block;
    width: 16px;
    height: 14px;
}
.restore {
    font-size: 2.933vw;
    text-decoration: underline;
}
.policy {
    font-size: 2.933vw;
    text-decoration-line: underline;
    color: #408682;
}

.wrap {
    margin-right: 5.3%;
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFC1C1;
    position: relative;
}

.check-sign {
    position: absolute;
    background: #000000;
}

#check-part-1 {
    position: absolute;
    width: 3px;
    height: 2px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
    left: 7px;
    z-index: 1;
}

#check-part-2 {
    position: absolute;
    width: 6px;
    height: 2px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 8px;
    top: 10px;
    z-index: 1;
}

.bubble-left {
    position: absolute;
    top: 111px;
    left: 81.3333%;
}
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.3em 1.3em 1.3em 1.3em; 
    border-color: transparent red red transparent;
    right: -4px;
    bottom: -4px;
}
  
@media only screen and (max-width: 320px) {
    .svg-buble-left {
        width: 320px;
    }
    .title-item {
        font-size: 1.4em;
    }
    .list-item {
        padding-bottom: 10px;
        font-size: 0.9em;
    }
    .list-wrap {
        margin-bottom: 15px;
    }
    .button {
        margin-bottom: 15px;
    }
    .footer-item {
        height: 20px;
    }
    .footer-restore {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 414px) {
    .svg-buble-left {
        width: 414px;
    }
  }

.offer-item:hover {
    border: 4px solid #FFFFFF;
}

.offer-item:hover .offer-item-top {
   border: 4px solid #FFFFFF; 
}